.UserCard {
   background-color: #fff;

   .UserName {
      font-family: Nunito Sans;
      font-style: normal;
      font-weight: 900;
      font-size: 16px;
      line-height: 22px;
      /* identical to box height */
   
      text-transform: uppercase;
   
      color: #636363;
   }

   .UserDescripition {
      span:before {
         content: '';
         display: inline-block;
         width: 10px;
         height: 10px;
         border-radius: 50%;
         background-color: #636363;
      }
   }
}